@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body,html {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;

}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
	background: #f9f9f9;
}


/* Handle */
::-webkit-scrollbar-thumb {
	background: #302c2a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background:  #272422;
}

@media only screen and (max-width: 990px) {
	::-webkit-scrollbar {
		display: none;
	}
}
h1, h2, h3, h4, p {
  font-family: 'Roboto', sans-serif;
  text-color: black !important;
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
/*cursor*/
.cursor,
.cursor2,
.cursor3{
	position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%;
	mix-blend-mode: difference;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}
.cursor{
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}
.cursor2,.cursor3{
	height: 36px;
	width: 36px;
	z-index:99998;
	-webkit-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out
}
.cursor2.hover,
.cursor3.hover{
	-webkit-transform:scale(2) translateX(-25%) translateY(-25%);
	transform:scale(2) translateX(-25%) translateY(-25%);
	border:none
}
.cursor2{
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}
.cursor2.hover{
	background: rgba(255,255,255,1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px){
	.cursor,.cursor2,.cursor3{
		display: none
	}
}

navbar
.uk-light .uk-navbar-nav>li>a {
    color: black;
    font-family:'Roboto';
    font-weight: 600;
}

.uk-navbar-right {
    margin-right: 2rem;
}

.uk-navbar-nav li {
   margin-left: 2rem;
 }

 .uk-navbar-dropdown-nav li {
   margin-left: 0rem;
 }

.uk-light .uk-navbar-nav>li:hover>a {
  color: #ebd834 !important;
}

 .uk-navbar-dropdown-nav>li>a {
    color: black;
    font-weight: 600;
 }

  .uk-navbar-dropdown-nav>li>a:hover {
     color: #ebd834;
     font-weight: 900;
  }

.uk-navbar-toggle-icon svg {
  width: 30px;
  fill: #ebd834;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.33));
}


 .uk-nav-parent-icon>.uk-parent>a::after {
	background-color: #ebd834;
    border-radius: 60%;
 }


 .uk-light .uk-navbar-nav>li>a {
   color: black;
 }

 .uk-light .uk-navbar-nav>li.uk-active>a {
   color: #ebd834;
   font-weight: bolder;
 }

 .uk-light .uk-navbar-nav>li>a:hover {
   color: #ebd834;
 }
 .uk-navbar-nav>li.uk-active>a {
   color: #ebd834 !important;
   font-weight: bolder;
}
.uk-offcanvas-bar {
  background: #ebd834  !important;
}
 .uk-nav-default>li>a{

  color:black !important;
    font-weight: bolder;
}
.uk-nav-sub>li>a{

 color:black !important;
   font-weight: bolder;
}
.uk-nav-default>li.uk-active>a {
  color: #ebd834;
  font-weight: bolder;
}

.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a {
    font-family: 'Roboto';
	color:black;
    font-weight: 600;
}

.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a {
      color: #ebd834;
}

.uk-navbar-container:not(.uk-navbar-transparent)  .uk-navbar-nav>li:hover>a {
  color:#ebd834 !important;
}

@media only screen and (max-width:768px) {
  .section-container {
    display: grid;
  }
}
.landing-page-heading {
  margin-top: 10rem !important;
}
@media only screen and (max-width: 768px) {
	.landing-page-heading {
		margin-top: 10rem !important;
	}
}
/*main content*/
.main-content{
  font-size: 20px;
}

/*team*/
.image {
  transform: scale(0.9, 0.9);
  transition: transform 0.2s ease-in;

}

.image__foreground {
  transform-origin: 50% 50%;
  transform: translateY(4px) scale(1, 1);
  transition: transform 0.2s ease-in;
}

.image:hover {
  transform: scale(1, 1);
}

.image:hover .image__foreground {
  transform: translateY(-7px) scale(1.05, 1.05);
}

/* Optional styles (decoration) */

.pop-image {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px; /* Change this to any px value */
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}
/*quote*/
.quote-design{
	font-family:'Roboto';
  font-style: italic;
	background: #fffdf5;
	color: #3f3f5a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

blockquote {
	font-weight: 100;
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

cite {
	line-height: 3;
	text-align: left;
}
/*BUTTON*/

.btn-grad {
            margin-right:40%;
            margin-left:40%;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            cursor: pointer;
            color: grey;
            box-shadow: 0 0 20px #8e8e8e;
            border-radius: 10px;
            display: block;
            box-shadow: 2px 4px 6px rgba(0,0,0,0.355);
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color:#red;
            text-decoration: none;
          }

          .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #c5ddeb;
            opacity: 0.8;
            overflow: hidden;
            width: 100%;
            height: 100%;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: .3s ease;
            transition: .3s ease;
          }

          .container:hover .overlay {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
          }

          .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }
/*contact*/
.mapouter{
  position:relative;
  text-align:right;

  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;

    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    border-radius: 20px;
  }
  .uk-card-default {
    border-radius: 20px;
}

.uk-card-default .uk-card-header {
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#where-we-are {
	margin-left:2rem;
}

#where-we-are a {
    color: #ebd834;
    font-size: 18px;
}
.uk-description-list>dt {
    color: #010101;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.uk-card-title {
    color: #000000 !important;
    font-size: 20px;
    font-weight: bolder;
}
@media only screen and (max-width: 768px) {
iframe{
  width:100%;
  height:100%;
}
.mapcontent{
    font-size: 20px;
    width:auto;
}
}
/*//footer*/

.footer-cell {
	float: left;
    line-height: 25px;
    width: 16rem;
}

.site-footer {
	background-color: #ebd834;
    padding-top: 90px;
}

.footer-legal {
    text-align: center;
    color: white;
    background: black;
    height: 4rem;
    font-size: 14px;
    line-height: 25px;
    padding-top: 25px;
}

.footer-cells {
	display: inline-flex;
}

.footer__nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: 90%;
}

 .footer-cell-heading {
	padding-left: 30px;
	color: white;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}

.footer-sub-heading-2, .footer-sub-heading {
	color: white;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
}

.footer-list li {
	list-style: none;
    color: white;
}

#social-media-footer-cells-bottom {
	display: flex;
}

#social-media-footer-cells-bottom li {
    width: 22%;
}

#social-media-footer-cells-bottom li a{
	color: white;
    font-size: 2rem;
}

.footer-list p {
	margin: 0px;
}

.footer-contact-btn, .footer-list p {
	font-size: smaller;
	padding-top: 5px;
}

.footer-sub-heading-2 {
    margin-bottom: 5px;
    margin-top: 5px;
}
.footer-list li a {
  color: black;
}
@media only screen and (max-width: 990px) {
	.footer-cells {
		display: grid;
	}
	.footer-cell {
		margin-bottom: 2rem;
	}
  }
@media only screen and (max-width: 768px) {
	.footer-legal span a{
		display: block;
	}
}
